lightweight-mmm==0.1.9
absl-py
arviz>=0.11.2
immutabledict>=2.0.0
jax==0.4.25
jaxlib==0.4.25
matplotlib==3.6.1
numpy==1.26
numpyro==0.15.3
pandas>=1.1.5
scipy
seaborn==0.11.1
scikit-learn
statsmodels>=0.13.0
tensorflow>=2.7.2
streamlit
kaleido
pandas
plotly-express
openpyxl
fpdf